version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    time: "11:00"
  open-pull-requests-limit: 20
  target-branch: dependency-upgrades
  labels:
  - topic/dependencies
  ignore:

