tag_annotation
coverage.out
ipfs-cluster-service/ipfs-cluster-service
ipfs-cluster-ctl/ipfs-cluster-ctl
deptools
sharness/lib/sharness
sharness/test-results
sharness/trash*

raftFolderFromTest*
peerstore

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
test/sharness/test-results
test/sharness/trash*
test/sharness/lib/sharness
test/sharness/.test_config
test/sharness/.test_ipfs

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
