language: go
os:
  - linux
#  - osx
go:
- '1.16.x'
services:
- docker

sudo: required

cache:
  directories:
    - $GOPATH/pkg/mod
    - $HOME/.cache/go-build

install: true

env:
  - GO111MODULE=on

jobs:
  include:
    - stage: "Testing stage"
      name: "Tests (all modules) + Coverage"
      script:
        - travis_wait go test -v -timeout 15m -coverprofile=coverage.txt -covermode=atomic ./...
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - name: "Main Tests with raft consensus"
      script:
        - travis_wait go test -v -timeout 15m -failfast -consensus raft .
    - name: "Main Tests with leveldb backend"
      script:
        - travis_wait go test -v -timeout 15m -failfast -datastore leveldb .
    - name: "Golint, go vet, binary builds"
      script:
        - go install honnef.co/go/tools/cmd/staticcheck@latest
        - make check
        - make service
        - make ctl
        - make follow
    - name: "Docker and Compose build"
      script:
        - make docker
        - make docker-compose
    - name: "Sharness"
      script:
        - sudo apt-get update
        - sudo apt-get install -y jq curl
        - make install
        - docker pull ipfs/go-ipfs
        - make test_sharness && make clean_sharness
